*{
    box-sizing: border-box;
}
.box1{
    background: yellow;   
    padding: 20px; 
}
.box1 > p{
    background-color: green;
   
}
.box2{
    background-color: purple;
    font-size: 1.125rem;
    padding: 1.1em;
}

